    <ul>
      <li>
      {% if author %}
        Автор: {{ post.author.get_full_name }} 
        <a href="{% url 'posts:profile' post.author %}">#{{post.author}}>все посты пользователя</a>
      {% endif %}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <br>
      {{ post.text }}
    </br>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
  {% if not group and post.group %}   
      <a href="{% url 'posts:group_posts' post.group.slug %}">#{{post.group}}>все записи группы</a>
  {% else %}  
      <span style='color:red'> Этой публикации нет ни в одном сообществе</span>
  {% endif %}

